:root {
  --page-count: 20;
  --page-scroll: 25;
  --underline: rgba(64, 64, 64, 0.4);
  --spine: #000;
  --cover: #1a1a1a;
  --bg: #4d4d4d;
  --insert: #d9d9d9;
  --page: #e6e6e6;
  --gold-color: #bb965e;
  --dark-gold-color: #140f09;
  --serif: "Libre Baskerville";
  --beige: #ddcda9;
  --dark-brown: #885830;
  --sans-serif: "Open Sans", "Raleway";
  --intro-bg-color: black;
  --intro-text-color: white;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", serif;
  font-weight: 400;
  margin: 0;
}

.web-container {
  /* height: 500vh; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 1;
  position: relative;
}

.introduction {
  height: 300vh;
  z-index: -1;

  /* background: -webkit-repeating-linear-gradient(
    90deg,
    #9f7928 0%,
    #a87b32 10%,
    #865c25 33%,
    #a87b32 61%,
    #9f7928 100%
  ); */
  background: black;
  overflow-x: hidden;
}

.introduction {
  /* background: black; */
  /* color: var(--dark-gold-color); */
}

.big-font-container {
  overflow-x: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.big-font-camera {
  margin-top: -16vh;
}

h1.background-text {
  font-size: 50vh;
  margin: 2vh;
  white-space: nowrap;
  font-weight: 200;
  color: white;
  opacity: 0.5;
  align-self: flex-start;
}

h1.background-text.move-left {
  align-self: flex-end;
  direction: rtl;
}

.headers {
  position: fixed;
  /* color: var(--dark-gold-color); */
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 20vh 10vh;
  font-family: "Libre Baskerville, serif";
  letter-spacing: 0.05em;
}

.headers h2.intro-header {
  font-weight: 400;
  font-size: 6.5vh;
  max-width: 33vw;
  padding: 10px;
  opacity: 0;
}

h2.intro-header.first {
  text-align: left;
}
h2.intro-header.second {
  text-align: center;
  opacity: 0;
}

h2.intro-header.third {
  text-align: right;
  opacity: 0;
}

h2.intro-header.active {
  align-self: center;
  opacity: 1;
}

span.underline {
  text-decoration: underline;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.black-div {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-div h1 {
  opacity: 0;
  color: white;
}
.about-the-book {
  height: 100vh;
  background: white;
}

.about-the-author {
  /* background: white; */
  background: var(--beige);
  padding: 10vh 0;
  height: 100vh;
}


}

.six-fundas {
  background: black;
  display: flex;
}

.events {
  height: 100vh;
  padding: 10vh 0;
}

.quotes {
  height: 100vh;
  padding: 10vh 0;
  background: black;
}

.navigation {
  position: absolute;
  top: 0;
}

.about-as {
  border: 1px solid blue;
  padding-top: 10vh;
  background: black;
  /* height: 500vh; */
}

.about-as .container {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.as-book-img-container {
  align-self: top;
  height: 100vh;

  /* border: 1px solid var(--gold-color);
    padding: 40px;
    width: 300px; */
}

.as-content {
  font-family: var(--sans-serif) !important;
  color: var(--beige) !important;
  margin-left: 40%;
  width: 60%;
  font-weight: 400;
  font-size: 2.5vh;
  padding-bottom: 10vh;
}
.as-content p {
  margin: 5vh 0;
}

.cta {
  height: 500px;

  background: var(--beige);
  text-align: center;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta h3 {
  font-family: var(--serif);
  /* font-style: italic; */
  color: var(--dark-brown);
  font-weight: 800;
  font-size: 4vh;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2vw;
  width: 80%;
}

.icon-container {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
}

.icon-container img {
  filter: sepia(100%);
}

.icon-container:hover img {
  filter: sepia(0%);
}

.motif-container {
  width: 150px;
}

.sepia {
  filter: sepia(100%);
}

.header-image {
  width: 100vw;
  background: url("img/small-band.png") no-repeat;
  height: 40vh;
  background-size: cover;
}

.header-image-gold {
  width: 100vw;
  background: url("img/gold-band-top.png") no-repeat;
  height: 40vh;
  background-size: cover;
}

.as-content h1,
.about-the-author h1 {
  /* font-family: "Open Sans", san-serif; */
  font-size: 8vh;
  font-family: var(--serif);
  font-weight: 800;
  /* outline: #ddcda9; */
  background: -webkit-repeating-linear-gradient(
    90deg,
    #9f7928 0%,
    #a87b32 10%,
    #865c25 33%,
    #a87b32 61%,
    #9f7928 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-the-author {
  background: url(img/bapa-writing/bapa-horizontal.png) no-repeat;
  background-size: cover;
  background-position: bottom left;
  min-height: 100vh;
}

.six-fundas .container {
  padding-top: 20vh;
  padding-bottom: 20vh;
  font-family: "Hina Micho";
  color: rgb(200, 200, 200);
  height: 100%;
}

.container-header {
  font-weight: 400;
  font-family: "Raleway";
  font-size: 12vh;
  color: var(--gold-color);
}

.callout {
  margin-top: 8vh;
  margin-bottom: 8vh;
  font-size: 5vh;
  width: 80%;
  font-family: "Hina Micho";
  padding: 20px;
}

.left-border {
  border-left: 10px solid var(--gold-color);
}

.right-border {
  border-right: 10px solid var(--gold-color);
  text-align: right;
}

.additional-text {
  font-size: 3vh;
}

.horizontal-scroll-container {
  margin-top: 15vh;
  width: 100%;
  height: 50vh;
  overflow-x: hidden;
  /* border: 1px solid red; */
}

.horizontal-scroll-window {
  width: calc(40vw * 6);
  height: 100%;
  display: flex;
  /* background: blue; */
}

.funda-card {
  width: 40vw;
  /* border: 1px solid green; */
  height: 100%;
  padding: 40px;
  display: flex;
}

.funda-card-content {
  border: 2px solid var(--gold-color);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 100px;
  font-family: "Raleway";
  text-align: center;
}

.funda-card-content p.title {
  font-size: 3vw;
}

.image.second-image {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 75%;
  /* border: 10px solid var(--beige); */
  /* top: 42%;
    left: 20%; */
}

.about-param-krupaludev {
  background: var(--dark-brown);
  padding-bottom: 10vh;
}

.about-bapa-text {
  font-size: 2vh;
  padding: 2vh;
  font-family: var(--serif);
  background: rgba(255, 255, 255, 0.2);
  color: var(--dark-gold-color);
}

h2.atmasiddhi-shastra {
  letter-spacing: 1.7px;
  font-family: var(--serif), serif;
  background: -webkit-repeating-linear-gradient(
    180deg,
    var(--beige) 0%,
    #a87b32 10%,
    var(--beige) 33%,
    #a87b32 61%,
    var(--beige) 100%
  );
  font-size: 8vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.as-hr {
  width: 80%;
  margin: 0 auto;
  border: none;
  height: 1px;
  background: -webkit-repeating-linear-gradient(
    180deg,
    var(--beige) 0%,
    #a87b32 10%,
    var(--beige) 33%,
    #a87b32 61%,
    var(--beige) 100%
  );
}

/* .testimonials .container {
    padding: 10vh 0;
  } */
/* .testimonial-header {
    transform: rotate(-90deg);
    width: auto;
    display: inline-block;
    font-size: 6vh;
    padding: 0;
    margin: 0;
  } */

.video {
  height: 100vh;
}

:root {
  --bg: #fbf0e9;
}

.testimonials {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center;
    align-items: center; */
  background: var(--bg);
  background: url(img/patterns/floor-tile.png) repeat;
  font-family: "Amiri", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

/* .testimonials:before,
.testimonials:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10vh;
  z-index: 101;
}

.testimonials:before {
  top: 0;
  background: linear-gradient(var(--bg), transparent);
}

.testimonials:after {
  bottom: 0;
  background: linear-gradient(transparent, var(--bg));
} */

.dia {
  /* height: 100vh;
    width: 100vw; */
  height: 100vh;
  width: 100%;
  /* overflow: scroll; */
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  /* background: blue; */
  /* scroll-snap-type: y mandatory; */
}

.dia:before {
  content: "";
  /* width: 0;
    height: 0; */
  border-bottom: 98.5vh solid #ddcda9;
  border-left: 100vw solid transparent;
  opacity: 0.4;
}

.video-container {
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.2);
  /* padding: 60px; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
  position: relative;
  /* height: 0; */
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-height: 1000) {
  .as-book-img-container {
    height: 60vh;
  }
}

.slick-track {
  will-change: transform;
}

.slick-list {
  overflow: visible;
  will-change: transform;
}

.slick-slider{
    height: 80%;
}

.slick-slide {
  padding: 0 100px;
  width: 100vw;
}
/* .slick-slide img {
  max-width: 100%;
  margin: 0 auto;
} */

.test-slide {
  /* border: 1px solid green; */
  display: flex !important;
  align-items: center;
}
.test-slide .test-img {
  max-width: 35vw;
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.55));
  align-self: left;
  /* padding: 15px;
  background: white; */
}

.test-slide img {
  width: 100%;
  border-radius: 5px;
}

.test-slide .quote {
  max-width: 65vw;
  margin: 10px;
  padding: 20px;
  min-height: 200px;
  background: white;
}
/* 
[type="button"] {
  position: fixed;
  top: 50%;
  z-index: 10;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border: 0;
  text-indent: -9999px;
  background-color: blue;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.9;
  transform: translateY(-50%);
  transition: all 0.25s ease;
}
[type="button"]:hover {
  opacity: 1;
}
[type="button"].slick-next {
  right: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjx0aXRsZT5jaGV2cm9uLXJpZ2h0PC90aXRsZT48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTUuNzA2IDExLjI5NGwtNi02Yy0wLjM4Ny0wLjM4Ny0xLjAyNS0wLjM4Ny0xLjQxMyAwcy0wLjM4NyAxLjAyNSAwIDEuNDEzbDUuMjk0IDUuMjk0LTUuMjk0IDUuMjk0Yy0wLjM4NyAwLjM4Ny0wLjM4NyAxLjAyNSAwIDEuNDEzIDAuMTk0IDAuMTk0IDAuNDUgMC4yOTQgMC43MDYgMC4yOTRzMC41MTMtMC4xIDAuNzA2LTAuMjk0bDYtNmMwLjM5NC0wLjM4NyAwLjM5NC0xLjAyNSAwLTEuNDEzeiI+PC9wYXRoPjwvc3ZnPg==);
}
[type="button"].slick-next:hover {
  right: -5px;
}
[type="button"].slick-prev {
  left: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjx0aXRsZT5jaGV2cm9uLWxlZnQ8L3RpdGxlPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xMC40MTMgMTJsNS4yOTQtNS4yOTRjMC4zODctMC4zODcgMC4zODctMS4wMjUgMC0xLjQxM3MtMS4wMjUtMC4zODctMS40MTMgMGwtNiA2Yy0wLjM4NyAwLjM4Ny0wLjM4NyAxLjAyNSAwIDEuNDEzbDYgNmMwLjE5NCAwLjE5NCAwLjQ1IDAuMjk0IDAuNzA2IDAuMjk0czAuNTEzLTAuMSAwLjcwNi0wLjI5NGMwLjM4Ny0wLjM4NyAwLjM4Ny0xLjAyNSAwLTEuNDEzbC01LjI5NC01LjI5NHoiPjwvcGF0aD48L3N2Zz4=);
}
[type="button"].slick-prev:hover {
  left: -5px;
} */

@-webkit-keyframes motion-blur {
  0% {
    filter: url(#blur0);
    transform: scale(1, 1);
  }
  15% {
    filter: url(#blur1);
    transform: scale(1, 0.98);
  }
  30% {
    filter: url(#blur2);
    transform: scale(1, 0.93);
  }
  45% {
    filter: url(#blur3);
    transform: scale(1.1, 0.9);
  }
  60% {
    filter: url(#blur4);
    transform: scale(1.2, 0.88);
  }
  75%,
  100% {
    filter: url(#blur5);
    transform: scale(1.35, 0.85);
  }
}

/* @keyframes motion-blur {
  0% {
    filter: url(#blur0);
    transform: scale(1, 1);
  }
  15% {
    filter: url(#blur1);
    transform: scale(1, 0.98);
  }
  30% {
    filter: url(#blur2);
    transform: scale(1, 0.93);
  }
  45% {
    filter: url(#blur3);
    transform: scale(1.1, 0.9);
  }
  60% {
    filter: url(#blur4);
    transform: scale(1.2, 0.88);
  }
  75%,
  100% {
    filter: url(#blur5);
    transform: scale(1.35, 0.85);
  }
} */

@-moz-keyframes spin {
    from { -moz-transform: rotateY(0deg); opacity: 1; }
    to { -moz-transform: rotateY(90); filter: url(#blur5); opacity: 0;}
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(90); filter: url(#blur5); }
}
@keyframes spin {
    from {transform: translateZ(0px) rotateY( 0deg); opacity: 1;}
    to {transform: translateZ(-100px) rotateY(  90deg); filter: url(#blur5); opacity: 0;}
}
.do-transition {
  animation: spin 0.1s linear forwards,
    spin 0.4s linear reverse forwards 0.1s;
}

.quote-card {
  background: #fff;
  color: #222222;
  padding: 8vw;
  padding-left: 50px;
  box-sizing: border-box;
  /* box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12); */
  position: relative;
  overflow: hidden;
  min-height: 120px;
  width: 66vw;
}
.quote-card p {
  font-size: 1.7em;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  /* top: 10px;
  left: 10px; */
  top: -110px;
  left: -32px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}
